.add-todo-entry-modal {
   font-size: 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;

   .description-text-area {
      width: 100%;
      font-size: 3rem;
      resize: none;
   }

   .description-container,
   .time-container {
      display: flex;
   }

   .description-container {
      gap: 1rem;
   }

   .time-container {
      gap: 4rem;
   }

   .description-container {
      width: 80%;
      min-height: 4rem;
   }

   .start-time-container,
   .end-time-container {
      display: flex;
      gap: 1rem;
   }

   .add-task {
      width: 40%;
      font-size: 3rem;
      margin-top: 4rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
   }
}
