.todo-lists-sidebar {
   min-height: 100%;
   min-width: 8rem;
   border-right: 4px solid var(--main-element-colour);

   .add-todo-list {
      width: 100%;
      height: 7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--main-element-colour);
      font-size: 2rem;
      border-bottom: 2px solid var(--secondary-element-colour);
      cursor: pointer;
      transition: background-color 100ms ease-in-out;

      &:hover {
         background-color: #202020;
      }
   }
}
